---
import ClientRouter from 'astro/components/ClientRouter.astro';

import '@fontsource/megrim';
import '@fontsource-variable/work-sans';
import '@fontsource-variable/caveat';

// Preload fonts for better performance
import caveatWoff2 from '@fontsource-variable/caveat/files/caveat-latin-wght-normal.woff2?url';
import workSansWoff2 from '@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2?url';
import megrimWoff2 from '@fontsource/megrim/files/megrim-latin-400-normal.woff2?url';
---

<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>Sindre Sauarlia</title>

    <!-- Preload fonts -->
    <link rel='preload' as='font' type='font/woff2' href={megrimWoff2} crossorigin='anonymous' />
    <link rel='preload' as='font' type='font/woff2' href={workSansWoff2} crossorigin='anonymous' />
    <link rel='preload' as='font' type='font/woff2' href={caveatWoff2} crossorigin='anonymous' />

    <ClientRouter />
</head>
