---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <section id='hero-section' class=''>
        <h1 class='flex flex-col text-7xl'>
            <span>Hello, my name is</span>
            <span> Sindre Sauarlia</span>
        </h1>
        <p>
            I'm a full-stack developer dedicated to deeply understand every aspect of the software development process.
        </p>
    </section>
</Layout>
