---
import HeroSection from "@/components/home/hero-section.astro";
import ProjectsSection from "@/components/home/highlighted-projects-section.astro";
import ShortInfoSection from "@/components/home/short-info-section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <HeroSection />
    <ShortInfoSection />
    <ProjectsSection />
    <section class="index-section">
        <div>Hit me up on Linkedin or Email.</div>
        <div>
            If your'e a recruiter or curious - feel free to check out my
            Experience and Education <a href="/education-cv">here</a>.
        </div>
        <div>
            If you want to see more projects, check out my <a href="/projects"
                >projects</a
            >.
        </div>
    </section>
</Layout>
