---
import Divider from "@/components/general/divider.astro";
import HeroSection from "@/components/home/hero-section.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
    <HeroSection />

    <section>
        <Divider scrollFadeIn />
        <section class="scroll-fadein"></section>
    </section>
</Layout>

<script>
    import Lenis from "lenis";

    // Initialize Lenis
    const lenis = new Lenis({
        autoRaf: true,
    });

    // Listen for the scroll event and log the event data
    // lenis.on("scroll", e => {
    //     console.log(e);
    // });
</script>
