<div
    class="rounded-3xl p-px w-fit bg-gradient-to-br from-primary/70 to-accent/70 relative z-10"
>
    <div class="rounded-[calc(1.5rem-1px)] bg-background">
        <p class="bg-accent/5 px-3 py-1 rounded-3xl">Available for hire</p>
    </div>
</div>
