---
import techbbqImage from "@/assets/images/tech-bbq.jpeg";
import ParallaxImage from "@components/general/parallax-image.astro";
import IconArrowUpRight from "../icons/icon-arrow-up-right.astro";
import SvgMeAtTectBbq from "../svg/svg-me-at-tect-bbq.astro";

const today = new Date();
const finishedGrad = new Date("2025-06-18");
const isAfterGrad = today > finishedGrad;
---

<section
    id="hero-short-info"
    class="flex flex-col gap-6 w-full xl:h-[26rem] lg:h-[28rem] md:h-[18rem]"
>
    <article
        class="grid grid-cols-1 md:grid-cols-2 gap-4 scroll-fadein items-center justify-center scroll-fadein"
    >
        <div
            id="hero-short-info-text"
            class="flex flex-col gap-2 md:text-justify"
        >
            <h2 class="text-primary md:text-4xl">Fullstack Developer</h2>
            <p class="md:text-lg leading-7">
                I'm a passionate full-stack developer
                {
                    isAfterGrad ? (
                        <>
                            who just graduated with a Bachelor's degree in
                            Information Technology from OsloMet.
                        </>
                    ) : (
                        <>
                            - currently wrapping up my Bachelor's degree in
                            Information Technology at OsloMet.
                        </>
                    )
                }
            </p>
            <p class="md:text-lg leading-7">
                I began my career as a performing musician, where dedication and
                hard work were essential. Seeking the 9-5 lifestyle, I
                transitioned into software development — and quickly found a
                similar enthusiasm for coding and problemsolving.
            </p>

            <div
                id="me-at-techbbq"
                class="hidden md:flex flex-row size-24 absolute right-0 -bottom-40 w-fit text-left items-center justify-center stroke-foreground/80 translate-x-14"
            >
                <SvgMeAtTectBbq
                    class="w-40 translate-x-12 translate-y-6 stroke-foreground/70"
                />
                <IconArrowUpRight class="w-24" />
            </div>
        </div>
        <ParallaxImage
            src={techbbqImage}
            alt="Sindre at TechBBQ 2024"
            title="Sindre at TechBBQ 2024"
            containerClass="rounded-image lg:aspect-[8/12] aspect-[7/12] md:ml-12"
            borderRadius="1rem"
            format="avif"
            loading="lazy"
            width={1877}
            height={3336}
            quality={40}
            widths={[256, 540, 768, 1024]}
        />
    </article>
</section>

<script>
    import gsap from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    import { DrawSVGPlugin } from "gsap/DrawSVGPlugin";

    let ctx: gsap.Context | null = null;

    document.addEventListener("astro:page-load", () => {
        gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

        ScrollTrigger.disable(false);
        ScrollTrigger.enable();
        ctx && ctx.revert();

        ctx = gsap.context(() => {
            gsap.set("#hero-short-info", { clearProps: "all" });
            gsap.set("#hero-short-info-text", { clearProps: "all" });

            // Initialize DrawSVG for both SVGs - setting them to 0 initially
            gsap.set("#me-at-techbbq svg path", { drawSVG: 0 });
            gsap.set("#me-at-techbbq .icon-arrow-up-right path", {
                drawSVG: 0,
            });

            let mm = gsap.matchMedia();

            // Add DrawSVG animations
            gsap.timeline({
                scrollTrigger: {
                    trigger: "#me-at-techbbq",
                    start: "-50% bottom",
                    end: "-50% 60%",
                    toggleActions: "play none none reverse",
                    scrub: 1,
                    markers: false,
                },
            })
                .to("#me-at-techbbq svg path", {
                    drawSVG: "0 100%",
                    duration: 1.2,
                    ease: "power2.inOut",
                    stagger: 0.2,
                })
                .to(
                    "#me-at-techbbq .icon-arrow-up-right path",
                    {
                        drawSVG: "0 100%",
                        duration: 0.1,
                        delay: 0.3,
                        ease: "power1.in",
                    },
                    "-=0.5"
                )
                .to(
                    "#me-at-techbbq",
                    {
                        opacity: 0,
                        duration: 0.5,
                        delay: 0.5,
                        ease: "power1.in",
                    },
                    "-=0.5"
                );

            mm.add("(max-width: 768px)", () => {
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: "#hero-short-info",
                        start: "top 90%",
                        end: "top 20%",
                        scrub: true,
                        invalidateOnRefresh: true,
                        markers: false,
                    },
                });

                tl.to("#hero-short-info", {
                    y: -60,
                    duration: 0.5,
                    ease: "power4.inOut",
                });
            });

            mm.add("(min-width: 769px)", () => {
                const tl = gsap.timeline({
                    scrollTrigger: {
                        trigger: "#hero-short-info",
                        start: "top bottom",
                        end: "top 70%",
                        scrub: true,
                        invalidateOnRefresh: true,
                        markers: false,
                    },
                });

                tl.to("#hero-short-info", {
                    translateY: -400,
                    duration: 1,
                    ease: "power1.out",
                    stagger: {
                        amount: 0.5,
                        from: "end",
                    },
                });

                gsap.fromTo(
                    "#hero-short-info-text",
                    { translateY: -110 },
                    {
                        scrollTrigger: {
                            trigger: "#hero-short-info-text",
                            start: "top bottom",
                            end: "top 20%",
                            scrub: true,
                            invalidateOnRefresh: true,
                            markers: false,
                        },
                        translateY: 60,
                        duration: 0.5,
                        ease: "power1.in",
                    }
                );

                gsap.fromTo(
                    "#me-at-techbbq",
                    { translateY: -60 },
                    {
                        scrollTrigger: {
                            trigger: "#me-at-techbbq",
                            start: "top bottom",
                            end: "top 20%",
                            scrub: true,
                            invalidateOnRefresh: true,
                            markers: false,
                        },
                        translateY: 30,
                        duration: 0.5,
                        ease: "power1.in",
                    }
                );
            });
        });
    });

    document.addEventListener("astro:before-swap", () => {
        ctx && ctx.revert();
    });
</script>
