---
import CommonHead from '@/components/layout/common-head.astro';
import Footer from '@/components/layout/footer.astro';
import Header from '@/components/layout/header.astro';

import '@/global.css';

const {
    title = 'Sindre Sauarlia - Full Stack Developer',
    description = 'Sindre Sauarlia is a software engineer and designer based in Norway. He loves building things with code and sharing his knowledge with others.',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
    <CommonHead title={title} description={description} />

    <body class='min-h-screen flex flex-col'>
        <header class=''>
            <div class='container mx-auto py-3 px-4 flex justify-between items-center'>
                <Header />
            </div>
        </header>
        <main class='flex-grow py-2 px-4 container mx-auto'>
            <slot />
        </main>
        <footer class='border-t border-border text-center'>
            <div class='container mx-auto px-4'>
                <Footer />
            </div>
        </footer>
    </body>
</html>

<script is:inline>
    const applyTheme = () => {
        const isDark =
            localStorage.theme === 'dark' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);

        document.documentElement.classList.toggle('dark', isDark);
    };

    applyTheme();

    document.addEventListener('astro:page-load', applyTheme);

    const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    mediaQuery.addEventListener('change', applyTheme);

    window.setLightTheme = () => {
        localStorage.theme = 'light';
        applyTheme();
    };

    window.setDarkTheme = () => {
        localStorage.theme = 'dark';
        applyTheme();
    };

    window.setSystemTheme = () => {
        localStorage.removeItem('theme');
        applyTheme();
    };
</script>
