---
import CommonHead from '@/components/layout/common-head.astro';
import Footer from '@/components/layout/footer.astro';
import Header from '@/components/layout/header.astro';
import Analytics from '@vercel/analytics/astro';

import '@/global.css';

const {
    title,
    description = 'Sindre Sauarlia is a full-stack developer based in Oslo, Norway. He is dedicated to deeply understand every aspect of the software development process and never stop learning.',
} = Astro.props;
---

<!doctype html>
<html lang='en'>
    <CommonHead title={title} description={description} />

    <body class='min-h-screen flex flex-col'>
        <header class='z-20'>
            <div class='container mx-auto py-3 px-4 flex justify-between items-center'>
                <Header />
            </div>
        </header>
        <main class='flex-grow py-3 px-4 container mx-auto min-h-screen h-[3000px] z-10'>
            <div class='max-w-5xl mx-auto'>
                <slot />
            </div>
        </main>
        <footer class='border-t border-border text-center'>
            <div class='container mx-auto px-4'>
                <Footer />
            </div>
        </footer>
        <Analytics />
    </body>
</html>

<script is:inline>
    const applyTheme = () => {
        const isDark =
            localStorage.theme === 'dark' ||
            (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);

        document.documentElement.classList.toggle('dark', isDark);
    };

    applyTheme();

    document.addEventListener('astro:page-load', applyTheme);

    const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    mediaQuery.addEventListener('change', applyTheme);

    window.setLightTheme = () => {
        localStorage.theme = 'light';
        applyTheme();
    };

    window.setDarkTheme = () => {
        localStorage.theme = 'dark';
        applyTheme();
    };

    window.setSystemTheme = () => {
        localStorage.removeItem('theme');
        applyTheme();
    };
</script>
